 <!-- JAVASCRIPT -->
 <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="assets/libs/simplebar/simplebar.min.js"></script>
 <script src="assets/libs/node-waves/waves.min.js"></script>
 <!-- validation init -->
 <script src="assets/js/pages/validation.init.js"></script>
 <script src="assets/js/pages/password-addon.init.js"></script>
 <script src="assets/js/app.js"></script>

 <script src='https://www.google.com/recaptcha/api.js'></script>

 <script src="assets/js/pages/jquery.min.js"></script>
 <script src="assets/js/auth.js"></script>
 <script src="assets/js/pages/axios.min.js"></script>
 <script src="assets/js/pages/toastr.min.js"></script>
 <script src="assets/js/pages/theme-style.init.js"></script>


</body>
</html>